.User{
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(0, 0, 41), black);
}

.vedioDiv{
    width: 100%;
    border-radius: 0 0 50% 50%;
}
.UserImgDiv{
    width: 30%;
    border-radius: 50%;
    margin-right: 4%;
    background: linear-gradient(to bottom right, rgb(0, 0, 41), black);
}
.userDetailsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 10%;
}
.userFollowerFollowing{
    display: flex;
    gap: 10%;
    align-items: center;
}
.userTopRow{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.userSettingDiv{
    align-items: flex-start;
}
.userFollowerFollowing p{
    font-size: small;
}

.userMusicDetailsDiv {
    padding: .5rem;
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-wrap: wrap;
  }
  
  .userMusicDetailsDiv > div {
    margin: 10px;
    border-radius: 10px;
    color: white;
    width: 120px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .totalHours {
    background-color: #3b82f6; /* Blue */
  }
  
  .likedSongs {
    background-color: #22c55e; /* Green */
  }
  
  .followingArtists {
    background-color: #8b5cf6; /* Purple */
  }
  
  .playlists {
    background-color: #fbbf24; /* Yellow */
  }
  
  .userMusicDetailsDiv h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .userMusicDetailsDiv p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  