.searchInputContainer{
    background-color: #000000;
    display: flex;
    gap: 1rem;
}
.searchBox{
    display: flex;
    position: relative;
}

.SearchInput{
    all: unset;
    width: 20rem;
    height: 2.5rem;
    background-color: #1f1f1f;
    border-radius: 2.5rem;
    color: rgb(255, 255, 255);
    padding-left: 1rem;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}
.SearchInput:hover{
    background-color: #2a2a2a;
}
.SearchInput:focus{
    box-shadow: 0 0 0 2px white;
}
.searchIcon {
    position: absolute; 
    top: 50%;
    right: 0.8rem; 
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    color: gray;
}

.homeIcon{
    width: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
    background-color: #1f1f1f;
}
.homeIcon:hover{
    background-color: #2a2a2a;
}

@media (max-width:800px) {
    .searchIconDiv{
        display: none;
    }
    .searchInputContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .SearchInput{
        width: 100%;
    }
}