.Sidebar{
    background: linear-gradient(to bottom left, rgb(0, 0, 41), black);
    border-radius: 10px;
    height: 77vh;
    padding-left: 2rem;
    width: 100%;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Sidebar div{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}
.recentBar p{
    text-align: left;
    padding-top: 10%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.libraryBar h2{
    padding-top: 10%;
}

.libraryBar p{
    text-align: left;
    padding-top: 10%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.sideBarIcon{
    width: 20px;
}

.animatedText {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    font-size: 1rem; 
    color: #ffffff; 
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .animatedText:hover,
  .animatedText:focus {
    transform: scale(1.1); 
    color: rgb(255, 255, 255); 
  }
  
  .sideBarIcon {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .animatedText:hover .sideBarIcon,
  .animatedText:focus .sideBarIcon {
    transform: rotate(20deg); 
    color: #0020be; 
  }
  

@media (max-width: 800px) {
    .Sidebar{
        width: 100%;
        border-radius: 0;
        height: 99vh;
        margin: 0;
        height: 100vh;
        justify-content: flex-start;
        padding: 0;
    }
    .Sidebar div{
        margin-left: 2%;
    }
    .recentBar div{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .libraryBar div{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sideBarIcon{
        display: none;
    }
    .recentBar div p{
        margin: 5px;
        background-color: rgb(46, 46, 46);
        padding: 5px;
        border-radius: 5px;
    }
    .libraryBar div p{
        margin: 5px;
        background-color: rgb(46, 46, 46);
        padding: 5px;
        border-radius: 5px;
    }
}
