.custom-audio-player {
    width: 100vw;
    background-color: black; 
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    color: white; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 999; 
}


.controls div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px; 
    font-size: 10px; 
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.control-btn:hover {
    transform: scale(1.1); /* Optional: Slight zoom on hover */
}

.control-btn svg {
    width: 24px; /* Fixed size for SVG icon */
    height: 24px; /* Fixed size for SVG icon */
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 400px;
}

.progressDiv {
    padding: 10px;
    width: 100%;
}

.progress-slider {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #4a90e2, #d4145a); 
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #4a90e2, #d4145a); 
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.volumeDiv {
    padding: 2%;
    width: 100px;
    padding: 10px;
}

.muteDiv {
    width: 20%;
}

.partThree {
    display: flex;
    align-items: center;
}

.partThree div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partOne{
    width: 100px;
    text-align: left;
}
.muteDiv{
    display: flex;
    align-items: center;
    gap: .5rem;
}

@media (max-width: 800px) {
    .partThree{
        display: none;
    }
    .partOne{
        display: none;
    }
    
    .partTwo{
        width: 100%;
    }
    .progress-bar{
        width: 100%;
    }
    .custom-audio-player{
        bottom: 3.5rem;
    }
    .progress-bar span{
        display: none;
    }
    .custom-audio-player{
        background-color: #646464;
        border-radius: 5px;
    }
    .progress-slider{
        margin: 0;
        padding: 0;
    }

    .progressDiv {
        padding: 0;
        height: 10px;
        width: 100%;
    }
}