@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0px;
  padding: 0;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


h2 {
  font-size: 2rem; 
  font-weight: bold; 
  background: linear-gradient(to right, #4a90e2, #d4145a); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}